In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

from pandas_datareader import wb
import pandas_datareader as web

plt.style.use('ggplot')

In [2]:
# download country info to get region and income info
df_info = wb.get_countries()
df_info = df_info[['name', 'region', 'incomeLevel', 'iso3c']].copy()

# rename column in order to merge later on
df_info.rename(columns = {'name' : 'country'}, inplace = True)

print(len(df_info))
df_info.head()

299

                       country                      region  incomeLevel iso3c
0                        Aruba  Latin America & Caribbean   High income   ABW
1  Africa Eastern and Southern                  Aggregates   Aggregates   AFE
2                  Afghanistan                  South Asia   Low income   AFG
3                       Africa                  Aggregates   Aggregates   AFR
4   Africa Western and Central                  Aggregates   Aggregates   AFW

In [3]:
# list of the indicators that I want to download
indicators = [
    'EN.ATM.CO2E.KT',    # CO2 emissions per capita
    'SP.POP.TOTL'       # total population
]

# download data
df = wb.download(indicator = indicators, 
                 country = 'all', 
                 start = 2018, 
                 end = 2018).reset_index()

# give columns more intuitive names
df.rename(columns = {'EN.ATM.CO2E.KT'    : 'co2', 
                     'SP.POP.TOTL'       : 'totalpop'}, 
          inplace = True)

# calculate tons C02 emissions per capita (notice that we multiply with 1000 to convert from kilo ton to ton)
df['co2_pc'] = df['co2'] * 1000 / df['totalpop']

print('Number of rows: ' + str(len(df)))
print('Number of countries: ' + str(df['country'].nunique()))
df.head()

Number of rows: 266
Number of countries: 266

                          country  year           co2     totalpop    co2_pc
0     Africa Eastern and Southern  2018  6.003511e+05  643090131.0  0.933541
1      Africa Western and Central  2018  2.243800e+05  435229381.0  0.515544
2                      Arab World  2018  1.863604e+06  419851989.0  4.438716
3          Caribbean small states  2018  3.692000e+04    7358929.0  5.017034
4  Central Europe and the Baltics  2018  6.764700e+05  102538451.0  6.597232

In [4]:
# add country info to df (left merge)
df = df.merge(df_info, on = 'country', how = 'left')

print(len(df)) # (print length to make sure that the merge worked as expected)
df.head()

266

,country,year,co2,totalpop,co2_pc,region,incomeLevel,iso3c
0,Africa Eastern and Southern,2018,6.003511e+05,643090131.0,0.933541,Aggregates,Aggregates,AFE
1,Africa Western and Central,2018,2.243800e+05,435229381.0,0.515544,Aggregates,Aggregates,AFW
2,Arab World,2018,1.863604e+06,419851989.0,4.438716,Aggregates,Aggregates,ARB
3,Caribbean small states,2018,3.692000e+04,7358929.0,5.017034,Aggregates,Aggregates,CSS
4,Central Europe and the Baltics,2018,6.764700e+05,102538451.0,6.597232,Aggregates,Aggregates,CEB

Notice that some observations in the final data are not countries but "aggregates".

In [5]:
# drop observatons with missing region info
df.dropna(subset = ['region'], inplace = True)

# drop aggregate regions, i.e. non-countries
df = df[df['region'] != 'Aggregates'].copy()

print('Number of rows: ' + str(len(df)))
print('Number of countries: ' + str(df['country'].nunique()))
df.head()

Number of rows: 217
Number of countries: 217

,country,year,co2,totalpop,co2_pc,region,incomeLevel,iso3c
49,Afghanistan,2018,7440.0,37171922.0,0.200151,South Asia,Low income,AFG
50,Albania,2018,5560.0,2866376.0,1.939732,Europe & Central Asia,Upper middle income,ALB
51,Algeria,2018,151670.0,42228415.0,3.591657,Middle East & North Africa,Lower middle income,DZA
52,American Samoa,2018,NaN,55461.0,NaN,East Asia & Pacific,Upper middle income,ASM
53,Andorra,2018,460.0,77008.0,5.973405,Europe & Central Asia,High income,AND

Also, notice that some countries lack observations.

In [6]:
# drop missing
df.dropna(inplace = True)

print('Number of final countries: ' + str(len(df)))
df.head()

Number of final countries: 190

,country,year,co2,totalpop,co2_pc,region,incomeLevel,iso3c
49,Afghanistan,2018,7440.0,37171922.0,0.200151,South Asia,Low income,AFG
50,Albania,2018,5560.0,2866376.0,1.939732,Europe & Central Asia,Upper middle income,ALB
51,Algeria,2018,151670.0,42228415.0,3.591657,Middle East & North Africa,Lower middle income,DZA
53,Andorra,2018,460.0,77008.0,5.973405,Europe & Central Asia,High income,AND
54,Angola,2018,27340.0,30809787.0,0.887380,Sub-Saharan Africa,Lower middle income,AGO

In [7]:
# sum emissions and population for each region...
df_region = df.groupby('region')[['co2', 'totalpop']].sum()

# ...and then calculate emissions per capita
df_region['co2_pc'] = df_region['co2'] * 1000 / df_region['totalpop']

df_region

                                   co2      totalpop     co2_pc
region
East Asia & Pacific         14118290.0  2.305740e+09   6.123106
Europe & Central Asia        6132830.0  9.157687e+08   6.696920
Latin America & Caribbean    1661730.0  6.367085e+08   2.609876
Middle East & North Africa   2523250.0  4.444051e+08   5.677815
North America                5555700.0  3.639034e+08  15.266965
South Asia                   2770040.0  1.814455e+09   1.526651
Sub-Saharan Africa            816360.0  1.074867e+09   0.759499

In [8]:
# sum emissions and population for each region...
df_income = df.groupby('incomeLevel')[['co2', 'totalpop']].sum()

# ...and then calculate emissions per capita
df_income['co2_pc'] = df_income['co2'] * 1000 / df_income['totalpop']

# drop if index is equal to "Not classified"
df_income.drop('Not classified', inplace = True)

df_income

                            co2      totalpop     co2_pc
incomeLevel
High income          12134270.0  1.169209e+09  10.378183
Low income             145090.0  6.276944e+08   0.231148
Lower middle income   5597900.0  3.235463e+09   1.730170
Upper middle income  15562780.0  2.494594e+09   6.238603

In [9]:
# list of the indicators that I want to download
indicators = [
    'SP.URB.TOTL.IN.ZS', 
    'NY.GDP.PCAP.PP.KD',    
    'EG.ELC.ACCS.ZS',    
    'AG.LND.AGRI.ZS',    
    'NY.GDP.TOTL.RT.ZS',
    'EG.FEC.RNEW.ZS'     
]

# download data
df_ind = wb.download(
    indicator = indicators, 
    country = 'all', 
    start = 2018, 
    end = 2018).reset_index()

# give columns more intuitive names
df_ind.rename(columns = {'SP.URB.TOTL.IN.ZS' : 'urban',
                         'NY.GDP.PCAP.PP.KD'    : 'gdp_pc',
                         'EG.ELC.ACCS.ZS'    : 'electricity',
                         'AG.LND.AGRI.ZS'    : 'agriculture',
                         'NY.GDP.TOTL.RT.ZS' : 'nat_resources',
                         'EG.FEC.RNEW.ZS'    : 'renew_energy'}, 
              inplace = True)

print('Number of rows: ' + str(len(df_ind)))
print('Number of countries: ' + str(df_ind['country'].nunique()))
df_ind.head()

Number of rows: 266
Number of countries: 266

,country,year,urban,gdp_pc,electricity,agriculture,nat_resources,renew_energy
0,Africa Eastern and Southern,2018,35.807770,3727.198587,42.168241,44.117980,7.234045,NaN
1,Africa Western and Central,2018,46.633138,4132.592996,51.253253,39.953545,11.132150,NaN
2,Arab World,2018,58.926595,14308.543471,88.306324,36.563558,22.881712,NaN
3,Caribbean small states,2018,51.199350,15954.508522,97.735516,5.174386,5.218111,NaN
4,Central Europe and the Baltics,2018,62.333667,31308.753643,100.000000,46.687669,0.679358,NaN

In [10]:
# left merge with data on emissions
df = df.merge(df_ind, on = ['country', 'year'], how = 'left')

print(len(df)) # print length to make sure that the merge worked as expected
df.head()

190

,country,year,co2,totalpop,co2_pc,region,incomeLevel,iso3c,urban,gdp_pc,electricity,agriculture,nat_resources,renew_energy
0,Afghanistan,2018,7440.0,37171922.0,0.200151,South Asia,Low income,AFG,25.495,2033.804389,98.715622,58.081365,0.915366,21.422701
1,Albania,2018,5560.0,2866376.0,1.939732,Europe & Central Asia,Upper middle income,ALB,60.319,13317.092313,100.000000,42.849672,1.818065,38.266399
2,Algeria,2018,151670.0,42228415.0,3.591657,Middle East & North Africa,Lower middle income,DZA,72.629,11630.679409,99.641922,17.364964,18.474129,0.193300
3,Andorra,2018,460.0,77008.0,5.973405,Europe & Central Asia,High income,AND,88.062,NaN,100.000000,40.063830,0.000000,18.506001
4,Angola,2018,27340.0,30809787.0,0.887380,Sub-Saharan Africa,Lower middle income,AGO,65.514,6933.499934,45.290000,45.682594,27.428220,56.785500

In [11]:
# drop missing
df.dropna(inplace = True)

print('Number of final countries: ' + str(len(df)))
df.head()
df['year'] = pd.to_datetime(df['year'], format = '%Y')

df['year'].min()

Number of final countries: 181

Timestamp('2018-01-01 00:00:00')

In [12]:
def get_emissions(country):
    
    # download data
    df_co2 = wb.download(indicator = ['EN.ATM.CO2E.KT', 'SP.POP.TOTL'], 
                         country = country, 
                         start = 2000, 
                         end = 2021).reset_index()

    # calculate tons C02 emissions per capita 
    # (notice that we multiply with 1000 to convert from kilo ton to ton)
    df_co2['co2'] = df_co2['EN.ATM.CO2E.KT'] #Total
    df_co2['co2_pc'] = df_co2['EN.ATM.CO2E.KT'] * 1000 / df_co2['SP.POP.TOTL'] # Per Capita
    df_co2 = df_co2[['year', 'co2_pc', 'co2']].copy()

    # convert year to int
    df_co2['year'] = df_co2['year'].astype(int)
    df_co2['iso3c'] = country

    # drop nan
    df_co2.dropna(inplace = True)
    # convert year to datatime ad set as index
    df_co2['year'] = pd.to_datetime(df_co2['year'], format = '%Y')
    df_co2['year'] = df_co2['year'].dt.year
    df_co2.set_index('year', inplace = True)
    
    return df_co2

In [13]:
get_emissions('NOR')

        co2_pc      co2 iso3c
year
2018  7.031361  37350.0   NOR
2017  6.992652  36900.0   NOR
2016  7.249950  37950.0   NOR
2015  7.447086  38640.0   NOR
2014  7.451484  38280.0   NOR
2013  7.522212  38210.0   NOR
2012  7.793052  39110.0   NOR
2011  8.108073  40160.0   NOR
2010  8.561637  41860.0   NOR
2009  7.755669  37450.0   NOR
2008  7.774403  37070.0   NOR
2007  8.069392  38000.0   NOR
2006  8.016003  37360.0   NOR
2005  7.866691  36370.0   NOR
2004  8.157825  37460.0   NOR
2003  8.131693  37120.0   NOR
2002  7.595591  34470.0   NOR
2001  7.705343  34780.0   NOR
2000  7.588566  34080.0   NOR

In [14]:
import pandas as pd
import plotly.express as px
import pandas_datareader.data as web
from datetime import datetime
from jupyter_dash import JupyterDash
from dash import dcc, html
from dash.dependencies import Input, Output
import dash_bootstrap_components as dbc
from dash_bootstrap_templates import load_figure_template
from pandas_datareader import wb      
from datetime import datetime, timedelta

In [15]:
#dbc_css = 'https://cdn.jsdelivr.net/gh/AnnMarieW/dash-bootstrap-templates@V1.0.2/dbc.min.css'

#dbc_css = 'https://codepen.io/chriddyp/pen/bWLwgP.css'
#app = JupyterDash(external_stylesheets = [dbc.themes.LUMEN])
#app = JupyterDash(external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css'])
#app = JupyterDash(external_stylesheets = [dbc.themes.BOOTSTRAP, dbc_css])
#app = JupyterDash(external_stylesheets = [dbc.themes.CYBORG])

In [16]:
#Create the different options in the program

options1 = [{'label' : 'CO2 Emissions per Capita', 'value' : 'co2_pc'},
           {'label' : 'Total CO2 Emissions', 'value' : 'co2'}]
options = []
for country in df['country'].unique():
    options.append({'label' : country, 'value' : country}) 

options2 = []

df['country'] = df['country'].unique()
df['iso3c'] = df['iso3c'].unique()
df = df.reset_index()

for i in range(len(df['country'].unique())):
    options2.append({'label': df['country'][i], 'value': df['iso3c'][i]})

In [17]:
multi_countries = dcc.Dropdown(
    id = 'multi_countries',                
    options = options, 
    value = options[1]['value'],   
    multi = True,
    clearable = False
)

single_country = dcc.Dropdown(
    id = 'single_country',                
    options = options2, 
    value = options2[0]['value'],   
    multi = False,
    clearable = False
)

co2_type = dcc.RadioItems(
            id = 'type_co2',                                                             
            options = options1, 
            value = options1[0]['value'],                                             
)

#template = 'lumen'
#load_figure_template(template)

In [18]:
tabs = dcc.Tabs(children=[
        dcc.Tab(label='By Region & Country', children=[
        html.H3('CO2 Emissions By Region and Country'), #style={'textAlign': 'center','backgroundColor':'#E23744','color': 'white','font-family':['Open Sans','sans-serif'], 
               #    'font-style': ['italic'],'padding-top':'20px','padding-bottom':'20px','fontSize':17}),
        
        # row with animated scatter plot
        dbc.Row(dcc.Graph(id = 'my_scatter'))
        ]),
        dcc.Tab(label= 'By GDP', children=[
        html.Br(),
        
        # select single country
        
        html.H3('CO2 Emissions vs GDP per Capita'), #style={'textAlign': 'center','backgroundColor':'#E23744','color': 'white','font-family':['Open Sans','sans-serif'], 
                 #  'font-style': ['italic'],'padding-top':'20px','padding-bottom':'20px','fontSize':17}),
        
        # row with line plots
        dbc.Row(
            children = [
                dbc.Col(dcc.Graph(id = 'life_plot'), width = 12)
            ]
        )
            ])])

In [19]:
card1 = dbc.Card(children=[
            
        # header
        html.H1('CO2 Emissions Around The World in 2018'), #style={'textAlign': 'center','backgroundColor':'#E23744','color': 'white','font-family':['Open Sans','sans-serif'], 
                  # 'font-style': ['italic'],'padding-top':'20px','padding-bottom':'20px','fontSize':35}),
        html.P('Examine the CO2 emissions around the world and factors driving it.'), #style={'textAlign': 'center','backgroundColor':'#E23744','color': 'white','font-family':['Open Sans','sans-serif'], 
                  # 'font-style': ['italic'],'padding-top':'20px','padding-bottom':'20px','fontSize':17}),
        
        
        html.Label('Choose which form of CO2 you want to display'),
        html.Br(),
        co2_type,
        
        # select multiple countries
        html.Label('Select countries:'),
        html.Br(),
        multi_countries,
        tabs],
            body=True)

In [20]:
card2 = dbc.Card(children=[html.Br(),
        html.H3('CO2 Emissions vs Renewable Energy Consumption'),#style={'textAlign': 'center','backgroundColor':'#E23744','color': 'white','font-family':['Open Sans','sans-serif'], 
            #       'font-style': ['italic'],'padding-top':'20px','padding-bottom':'20px','fontSize':17}),
        
        dbc.Row(
            children = [
                dbc.Col(dcc.Graph(id = 'renew_plot'), width = 12)
            ]
        ),
        html.Br(),
        html.H3('CO2 Emissions vs Natural Resources'), #style={'textAlign': 'center','backgroundColor':'#E23744','color': 'white','font-family':['Open Sans','sans-serif'], 
                  # 'font-style': ['italic'],'padding-top':'20px','padding-bottom':'20px','fontSize':17}),
        
        dbc.Row(
            children = [
                dbc.Col(dcc.Graph(id = 'internet_plot'), width = 12)
            ]
        ),
        html.Br(),
        
        dbc.Row(
            children = [
                dbc.Col(dcc.Graph(id = 'map'), width = 12)
            ])
                          ])

In [21]:
card3 = dbc.Card(children=[html.Br(), 
        html.H3('Single Country Emissions over Time'), #style={'textAlign': 'center','backgroundColor':'#E23744','color': 'white','font-family':['Open Sans','sans-serif'], 
        #           'font-style': ['italic'],'padding-top':'20px','padding-bottom':'20px','fontSize':17}),
        html.Label('Select a single country:'),
        html.Br(),
        
        
        single_country,
        
        dbc.Row(
            children = [
                dbc.Col(dcc.Graph(id = 'series'), width = 12)
            ]
        ),
        dbc.Row(
        #dcc.Slider(
        #get_emissions('NOR')['year1'].min(),
        #get_emissions('NOR')['year1'].max(),
        #step=None,
       # value=get_emissions('NOR')['year1'].min(),
      #  marks={str(year1): str(year1) for year1 in get_emissions('NOR')['year1'].unique()},
     #   id='year-slider'
    #),
        dcc.RangeSlider(
            marks = {i : str(i) for i in range(2000, 2018)},
            #marks={2000 : '2000', 
             #                  2004:'2004',
              #                 2008:'2008',
               #                2012: '2012',
                #               2016: '2016',
                 #              2018: '2018',
                  #            },
                               step = 1, 
                                min=2000,
                               max=2018,
                        value=[2000, 2018],
                                id='year-slider'))])

In [22]:
app = JupyterDash(external_stylesheets = [dbc.themes.LUMEN])
#external_stylesheets = ["https://codepen.io/somewhat-random-code/pen/QWdrZGQ.css"]
#app = JupyterDash(external_stylesheets = external_stylesheets)
#app = JupyterDash(external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css'])
#app = JupyterDash(external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css'])

app.layout = dbc.Container(
    children = [card1,
                card2,
                card3
        
                 ],
    className = 'dbc'
)

@app.callback(
    Output('my_scatter', 'figure'), 
    Output('life_plot', 'figure'),
    Output('internet_plot', 'figure'),
    Output('renew_plot', 'figure'),
    Input('multi_countries', 'value'),
    Input('type_co2', 'value')
)
def wb_scatter(country_lst, xvar, df = df):

    
    #df_no_nan = df.dropna(subset = ['co2_pc', 'co2', 'gdp_pc']).copy()
    df_no_nan = df.dropna(subset = ['co2_pc', 'co2', 'gdp_pc', 'nat_resources', 'renew_energy']).copy()
    df_no_nan.sort_values(['country'], inplace = True)

    df_no_nan['label'] = ''

    for country in country_lst:
        df_no_nan.loc[df_no_nan['country'] == country, 'label'] = country

    fig1 = px.scatter(
        df_no_nan,
        x = xvar,
        y = 'region',
        size = 'co2_pc',
        color = 'region',
        hover_name = 'country',
        hover_data = {'label' :False},
        text = 'label',
        animation_group = 'country'
    )

    fig1.update_traces(textposition='top center') 

    fig1.update_layout(
        yaxis_title = 'Region',
        xaxis_title = 'CO2 Emissions',
        #xticks="",
        showlegend = True,
        margin = {'l' : 0, 'r' : 0}
    )

#   return fig


#@app.callback(
#    Output('internet_plot', 'figure'),
#    Input('multi_countries', 'value'),
#    Input('type_co2', 'value')
#)

#def gdp_scatter(country_lst, xvar, df = df): # as before, we give a default value to the df parameter

    #df_no_nan = df.dropna(subset = ['co2_pc', 'co2', 'gdp_pc']).copy()
    #df_no_nan = df.dropna(subset = ['co2_pc', 'co2', 'gdp_pc', 'nat_resources', 'renew_energy']).copy()
    df_no_nan.sort_values(['region'], inplace = True)

    #df_no_nan['label'] = ''

    #for country in country_lst:
    #    df_no_nan.loc[df_no_nan['country'] == country, 'label'] = country

    fig2 = px.scatter(
        df_no_nan,
        x = xvar,
        y = 'gdp_pc',
        size = 'co2_pc',
        color = 'region',
        hover_name = 'country',
        hover_data = {'label' :False},
        text = 'label',                           
        #animation_frame = 'year',     
        animation_group = 'country',
        trendline="ols",
        trendline_scope="overall",
        trendline_options=dict(log_x=True)  
    )

    

    fig2.update_layout(
        yaxis_title = 'GDP Per Capita',
        xaxis_title = 'CO2 Emissions',
        
        showlegend = True,
        margin = {'l' : 0, 'r' : 0}
    )
    fig2.update_traces(textposition='top center') 

    #return fig 

#@app.callback(
#    Output('life_plot', 'figure'),
#    Input('multi_countries', 'value'),
#    Input('type_co2', 'value')
#)    
#def natural_resource_scatter(country_lst, xvar, df = df): # as before, we give a default value to the df parameter

#    df_no_nan = df.dropna(subset = ['co2_pc', 'co2', 'nat_resources']).copy()
#    df_no_nan.sort_values(['region'], inplace = True)

#    df_no_nan['label'] = ''
#
#    for country in country_lst:
#        df_no_nan.loc[df_no_nan['country'] == country, 'label'] = country

    fig3 = px.scatter(
        df_no_nan,
        x = xvar,
        y = 'nat_resources',
        size = 'co2_pc',
        color = 'region',
        hover_name = 'country',
        hover_data = {'label' :False},
        text = 'label',                           
        #animation_frame = 'year',     
        animation_group = 'country',
        trendline="ols",
        trendline_scope="overall",
        trendline_options=dict(log_x=True)  
    )

    fig3.update_traces(textposition='top center') 

    fig3.update_layout(
        yaxis_title = 'Natural Resources in Country',
        xaxis_title = 'CO2 Emissions',
        showlegend = True,
        margin = {'l' : 0, 'r' : 0}
    )

 #   return fig

#@app.callback(
#    Output('renew_plot', 'figure'),
#    Input('multi_countries', 'value'),
#    Input('type_co2', 'value')
#)    
#def renew_scatter(country_lst, xvar, df = df): # as before, we give a default value to the df parameter

#    df_no_nan = df.dropna(subset = ['co2_pc', 'co2', 'renew_energy']).copy()
#    df_no_nan.sort_values(['region'], inplace = True)

#    df_no_nan['label'] = ''

#    for country in country_lst:
 #       df_no_nan.loc[df_no_nan['country'] == country, 'label'] = country

    fig4 = px.scatter(
        df_no_nan,
        x = xvar,
        y = 'renew_energy',
        size = 'co2_pc',
        color = 'region',
        hover_name = 'country',
        hover_data = {'label' :False},
        text = 'label',                           
        #animation_frame = 'year',     
        animation_group = 'country',
        trendline="ols",
        trendline_scope="overall",
        trendline_options=dict(log_x=True)
        #range_x = [-5, 105], 
        #range_y = [35, 90],
    )

    

    fig4.update_layout(
        yaxis_title = 'Renewable Energy Consumption',
        xaxis_title = 'CO2 Emissions',
        showlegend = True,
        margin = {'l' : 0, 'r' : 0}
    )
    fig4.update_traces(textposition='top center') 
    

    return fig1, fig2, fig3, fig4

@app.callback(
    Output('map', 'figure'),
    Input('multi_countries', 'value'),
    Input('type_co2', 'value')
)    

def return_map(country_lst, xvar, df = df):
    
    
    df_no_nan = df.dropna(subset = ['co2_pc', 'co2']).copy()
    df_no_nan.sort_values(['region'], inplace = True)

    df_no_nan['label'] = ''

    for country in country_lst:
        df_no_nan.loc[df_no_nan['country'] == country, 'label'] = country
        
    fig5 = px.scatter_geo(
        df_no_nan, 
        locations = 'iso3c',
        size = xvar,               
        hover_name = 'country',
        hover_data = {'country' : False, 'region' : False, 'label' :False, 'iso3c' : False},
        labels = {xvar : 'CO2 Emissions'},
        color = 'region',
        text='label'
)
    fig5.update_traces(textposition='top center') 
    
    fig5.update_layout(
        title = 'CO2 Emissions, 2018',
        title_x = 0.5,
        legend_title = True, 
        geo_showcountries = True,   
)
    
    return fig5

#Create scatter time series CO2 against years

@app.callback(
    Output('series', 'figure'),
    Input('single_country', 'value'),
    Input('type_co2', 'value'),
    Input('year-slider', 'value')
)    
def single_series(country_lst, xvar, selected_year, df = df): # as before, we give a default value to the df parameter
    print(selected_year)
    df1_co2 = get_emissions(country_lst).reset_index().sort_values(by='year').copy().dropna()
    #df1_co2 = df1_co2.loc[selected_year[1]:selected_year[0]]
    df1_co2= df1_co2[(df1_co2['year']>=selected_year[0]) & (df1_co2['year']<=selected_year[1])] 
    #df_co2 = df_co2.loc[df_co2.year1 == selected_year]
    df1_co2 = pd.merge(df1_co2,df[['iso3c','country']],on='iso3c', how='left')
    
    df1_co2['label'] = ''
    
    #for year in selected_year:
    #    df_co2[df_co2['year1'] == year1, 'value'] = year1

    
    fig6 = px.line(
        df1_co2,
        x = 'year',
        y = xvar,
        #size = xvar,
        #color = 'region',
        hover_name = 'country',
        hover_data = {'label' :False},
    )

    fig6.update_layout(
        yaxis_title = 'CO2 Emissions',
        xaxis_title = 'Year',
        showlegend = True,
        margin = {'l' : 0, 'r' : 0}
        #transition_duration=500
    )

    return fig6


app.run_server(port=8090) #Change port if necessary

Dash app running on http://127.0.0.1:8090/

In [23]:
#selected_year=[2000,2018]
#selected_year
#df_co2 = get_emissions('NOR').reset_index().sort_values(by='year').copy().dropna()
#df_co2 = df_co2.loc[selected_year[1]:selected_year[0]]
#df_co2 = pd.merge(df_co2,df[['iso3c','country']],on='iso3c', how='left')
    
#df_co2['label'] = ''
#df_co2[df_co2['year1'] == 2000 , 2002]

#df_co2[df_co2.year1 == 2000]

In [24]:
get_emissions('NOR')

        co2_pc      co2 iso3c
year
2018  7.031361  37350.0   NOR
2017  6.992652  36900.0   NOR
2016  7.249950  37950.0   NOR
2015  7.447086  38640.0   NOR
2014  7.451484  38280.0   NOR
2013  7.522212  38210.0   NOR
2012  7.793052  39110.0   NOR
2011  8.108073  40160.0   NOR
2010  8.561637  41860.0   NOR
2009  7.755669  37450.0   NOR
2008  7.774403  37070.0   NOR
2007  8.069392  38000.0   NOR
2006  8.016003  37360.0   NOR
2005  7.866691  36370.0   NOR
2004  8.157825  37460.0   NOR
2003  8.131693  37120.0   NOR
2002  7.595591  34470.0   NOR
2001  7.705343  34780.0   NOR
2000  7.588566  34080.0   NOR

[2000, 2018]